<!doctype html>
<html lang="en">
<head lang="en">
    <% include head.ejs %>
</head>    
<body>
    <% include navbar.ejs %>
    <div class="container" style="margin-top: 86px">
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <img class="img-responsive img-rounded" src="/<%= book.coverImg %>" alt="<%= book.caption %>">
            </div>
            <div class="col-md-5 lead">
                <div class="row"><strong>书名： </strong><%- book.caption %></div>
                <div class="row"><strong>类型： </strong><%- book.type %></div>
                <div class="row"><strong>最近更新： </strong><%- (book.time.update).toDateString() %></div>
                <div class="row"><strong>简介： </strong><%- book.description %></div>
            </div>
        </div>
        <hr />
        <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">新增章节(<span class="required">*</span>为必填)</div>
                <div class="panel-body">
                <div class="row col-sm-5" style="padding: 0 35px 0 10px">
                    <h3 class="text-danger" style="border-bottom: 1px solid #ddd;">预览</h3>
                    <p id="preview" style="background-color: #f8f8f8; height: 500px;overflow: auto;">
                        
                    </p>
                </div>
                <div class="row col-sm-7" style="border-left: 1px solid #ddd;">
                    <form action="/book/<%= book._id %>/chapter" id="addChapter" class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label col-md-2">章节名<span class="required">*</span></label>
                            <div class="col-md-10">
                                <input required class="form-control" type="text" name="title"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2">内容<span class="required">*</span></label>
                            <div class="col-md-10">
                                <textarea id="chapter" required name="text" class="form-control" rows="20"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6 text-center">
                                <input class="btn btn-warning" type="reset" value="重置"/>
                            </div>
                            <div class="col-xs-6 text-center">
                                <input class="btn btn-primary" type="submit" value="提交"/>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
            </div>

            <button id="showModal" data-toggle="modal" data-target="#isRedirect" class="btn btn-primary" style="visibility: hidden;">发布成功</button>
            <div id="isRedirect" class="modal fade" role="modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content text-center">
                        <div class="modal-header">
                            <h3 class="modal-title">添加章节成功</h3>
                        </div>
                        <div class="modal-body">
                            <p class="lead">是否立即前往我的书籍页面查看?</p>
                        </div>
                        <div class="modal-footer">
                            <div class="col-sm-6 text-center">
                                <button class="btn btn-warning" data-dismiss="modal">继续添加章节</button>
                            </div>
                            <div class="col-sm-6 text-center">
                                <button class="btn btn-success" data-dismiss="modal">返回我的书籍</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/addchapter.js"></script>
</body>
</html>