<!doctype html>
<html lang="en">
<head lang="en">
    <% include head.ejs %>
</head>
<body>

    <% include navbar.ejs %>

    <div class="container" style="margin-top: 86px">
        <div class="panel panel-default">
            <div class="panel-heading">所有书籍</div>
            <div class="panel-body">
                <% if(books) { %>
                    <% books.forEach(function(book) { %>
                        <div class="col-md-3">
                            <a target="_blank" href="/book/<%- book._id %>" style="text-decoration: none;">
                                <div class="thumbnail">
                                    <div class="coverImg" style="height: 250px">
                                        <img class="img-responsive" src="/<%= book.coverImg %>" alt="<%- book.caption %>"/>
                                    </div>
                                    <h3>《<%- book.caption %>》</h3>
                                    <p class="book-description"><%- book.description || '无简介' %></p>
                                    <p>
                                    <div class="btn-group btn-group-justified">
                                    <div class="btn-group">
                                    <form class="delete" action="/book/<%- book._id %>">
                                    <button type="submit" class="btn btn-danger">删除</button>
                                    </form>
                                    </div>
                                    <!-- <div class="btn-group">
                                    <form class="modify" method="GET" action="/book/<%- book._id %>/modify">
                                    <button type="submit" class="btn btn-warning">修改</button> 
                                    </form>
                                    </div> -->
                                    <div class="btn-group">
                                    <form class="addChapter" action="/book/<%- book._id %>/addchapter.html">
                                    <button type="submit" class="btn btn-primary">添加章节</button>
                                    </form>   
                                    </div>   
                                    </div>
                                    </p>
                                </div>
                            </a>
                        </div>
                    <% }) %>
                <% } else { %>
                    <p class="lead text-center">你暂未发布任何书籍</p>
                <% } %>
            </div>
        </div>
    </div>
<script>
    $(function() {
        $(".delete").on("submit",function(e) {
            var that = this
            if(confirm("确认删除")) {
                $.ajax({
                    url : $(that).attr("action"),
                    type : "delete",
                    success : function() {
                        window.location.href = "/user/<%- user._id %>/books"
                    }
                })
            }
            return false
        })
    })
</script>
</body>
</html>